<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecolocation.ecolocation">

    <!-- Permission for Location Services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission for Location Services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ecolocation_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home Activity -->
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Animal Detail Activity -->
        <activity android:name=".DetailActivity" />

        <!-- Location Activity -->
        <activity
            android:name=".LocationActivity"
            android:launchMode="singleTop" />

        <!-- List View Activity -->
        <activity
            android:name=".ListViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".LocationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationActivity" />
        </activity>

        <!-- Data Results Activity -->
        <activity
            android:name=".DataResultsActivity"
            android:screenOrientation="portrait" />

        <!-- Web Activity -->
        <activity android:name=".WebActivity" />

        <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".ListView2" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>